[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-compressor = "*"
django-libsass = "*"
requests = "*"
gunicorn = "*"
psycopg2 = "*"
Django = "*"

[requires]
python_version = "3.8"
