{% extends 'base.html' %}
{% load static %}

{% block title %}Créer un compte{% endblock %}
{% block masttitle %}Créer un compte{% endblock %}

{% block content %}
<section class="page-section" id="signup">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="mt-0 text-center">Formulaire d'inscription</h2>
        <hr class="divider my-4" />
	<div class="mb-5">
	  <form class="container needs-validation" action="{% url 'users:signup' %}" method="post" novalidate>
	    {% csrf_token %}
	    <div class="row">
	      <div class="form-group col-lg-12">
		<label class="border-bottom" for="usernameInput">Nom d'utilisateur *</label>
		<input class="form-control" name="username" id="usernameInput" required>
	      </div>
	    </div>
	    <div class="row">
	      <div class="form-group col-lg-6">
		<label class="border-bottom" for="firstNameInput">Prénom *</label>
		<input class="form-control" name="first_name" id="firstNameInput" required>	
		<div class="invalid-feedback">
		  Veuillez entrer votre prénom.
		</div>
	      </div>
	      <div class="form-group col-lg-6">
		<label class="border-bottom" for="lastNameInput">Nom de famille</label>
		<input class="form-control" name="last_name" id="lastNameInput">
	      </div>
	    </div>
	    <div class="row">
	      <div class="form-group col-lg-12">
		<label class="border-bottom" for="emailAddressInput">Adresse mail *</label>
		<input type="email" class="form-control" name="email" id="emailAddressInput" aria-describedby="emailHelp" required>
		<small id="emailHelp" class="form-text text-muted">Votre email ne sera jamais partagée à un tiers..</small>
		<div class="invalid-feedback">
		  Votre adresse e-mail est invalide.
		</div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="form-group col-lg-6">
		<label class="border-bottom" for="passwordInput">Mot de passe *</label>
		<input type="password" class="form-control" name="password" id="passwordInput" required>
		<div class="invalid-feedback">
		  Un mot de passe est requis.
		</div>
	      </div>
	      <div class="form-group col-lg-6">
		<label class="border-bottom" for="passwordConfirmInput">Confirmer le mot de passe *</label>
		<input type="password" class="form-control" id="passwordConfirmInput" required>
		<div class="invalid-feedback">
		  Ce mot de passe n'est pas identique.
		</div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="form-group col-lg-12">
		<button type="submit" class="btn btn-primary btn-block">Valider</button>
	      </div>
	    </div>
	  </form>
	</div>
      </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
<script src="{% static 'users/js/signup_validate.js' %}"></script>
{% endblock %}
