{% extends 'base.html' %}

{% block title %}Page non trouvée{% endblock %}
{% block masttitle %}Page non trouvée{% endblock %}

{% block content %}
<section class="page-section" id="results">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="mt-0 text-center">Page non trouvée</h2>
        <hr class="divider my-4" />
	<div class="mb-5 container">
	  La page que vous cherchez n'existe pas. Vérifiez l'adresse, ou
	  faites peut-être un pas en arrière.
	</div>
      </div>
  </div>
</section>
{% endblock %}
