{% load static %}

<nav class="navbar navbar-dark navbar-expand-lg fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{% url 'home:index' %}#page-top">
      <img class="img-brand" src="{% static 'assets/img/logo_pur_beurre.svg' %}" /> Pur Beurre
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0 align-items-lg-center">
	<!-- Search bar-->
	<form class="form-inline">
	  <input class="form-control" type="search" placeholder="Chercher">
	</form>
	<!-- Sign up-->
        <li class="nav-item">
	  <a class="nav-link" href="{% url 'users:signup' %}" title="Créer un compte">
	    <i class="fas fa-fw fa-user-plus"></i>
	    <span class="d-lg-none">Créer un compte</span>
	  </a>
	</li>
	<!-- Log in-->
	<li class="nav-item">
	  <a class="nav-link" href="#" title="Se connecter">
	    <i class="fas fa-fw fa-sign-in-alt"></i>
	    <span class="d-lg-none">Se connecter</span>
	  </a>
	</li>
      </ul>
    </div>
  </div>
</nav>
