// _purbeurre.scss --- 
// 
// Filename: _purbeurre.scss
// Author: Louise <louise>
// Created: Sun Apr 26 21:36:56 2020 (+0200)
// Last-Updated: Sun Apr 26 22:19:29 2020 (+0200)
//           By: Louise <louise>
// 

.img-brand {
    height: 1.8rem;
    vertical-align: top;
}

footer {
    background-color: $biscuit;
}
