{% extends 'base.html' %}
{% load static %}

{% block title %}Informations du produit{% endblock %}
{% block masttitle %}Informations du produit{% endblock %}

{% block content %}
<section class="page-section" id="results">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="mt-0 text-center">{{ product.name }}</h2>
        <hr class="divider my-4" />
	<div class="mb-5 container">
	  <div class="row justify-content-center">
	    <div class="col-lg-6 text-center">
	      <h3>Nutriscore</h3>
	      <div class="container">
		<div class="row justify-content-center">
		  <ul class="list-group list-group-horizontal align-items-center">
		    <li class="list-group-item list-group-item-success">
		      {% if product.nutriscore == 'a' %}<span class="selected-nutriscore">A</span>
		      {% else %}A
		      {% endif %}
		    </li>
		    <li class="list-group-item list-group-item-info">
		      {% if product.nutriscore == 'b' %}<span class="selected-nutriscore">B</span>
		      {% else %}B
		      {% endif %}
		    </li>
		    <li class="list-group-item list-group-item-warning">
		      {% if product.nutriscore == 'c' %}<span class="selected-nutriscore">C</span>
		      {% else %}C
		      {% endif %}
		    </li>
		    <li class="list-group-item list-group-item-primary">
		      {% if product.nutriscore == 'd' %}<span class="selected-nutriscore">D</span>
		      {% else %}D
		      {% endif %}
		    </li>
		    <li class="list-group-item list-group-item-danger">
		      {% if product.nutriscore == 'e' %}<span class="selected-nutriscore">E</span>
		      {% else %}E
		      {% endif %}
		    </li>
		  </ul>
		</div>
	      </div>
	    </div>
	    <div class="col-lg-6 text-center">
	      <h3>Repères nutritionnels pour 100g</h3>
	      <ul class="list-unstyled">
		{% if product.energy %}
		<li>Énergie : {{ product.energy|floatformat:"-2" }} kJ</li>
		{% endif %}
		{% if product.proteins %}
		<li>Protéines : {{ product.proteins|floatformat:"-2" }} g</li>
		{% endif %}
		{% if product.fat %}
		<li>Graisses : {{ product.fat|floatformat:"-2" }} g</li>
		{% endif %}
		{% if product.saturated_fat %}
		<li>Dont saturées : {{ product.saturated_fat|floatformat:"-2" }} g</li>
		{% endif %}
		{% if product.sugar %}
		<li>Sucres : {{ product.sugar|floatformat:"-2" }} g</li>
		{% endif %}
		{% if product.salt %}
		<li>Sel : {{ product.salt|floatformat:"-2" }} g</li>
		{% endif %}
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
  </div>
</section>
{% endblock %}
