{% extends 'base.html' %}
{% load static %}

{% block title %}Substituts pour {{ orig_product.name }}{% endblock %}
{% block masttitle %}{{ orig_product.name }}{% endblock %}
{% block maststyle %}style="background: linear-gradient(to bottom, rgba(196, 85, 37, 0.8) 0%, rgba(196, 85, 37, 0.8) 100%), url('{{ orig_product.image }}');"{% endblock %}

{% block content %}
<section class="page-section" id="results">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="mt-0 text-center">Vous pouvez remplacer cet aliment par :</h2>
	{% if not request.user.is_authenticated %}
	<h6 class="mt-0 text-center text-muted">
	  <strong>Note</strong> : Vous ne pouvez pas sauvegarder des ingrédients sans être connecté(e)
	</h6>
	{% endif %}
        <hr class="divider my-4" />
	<div class="container text-center">
	  <div class="row">
	    {% for product in substitutes %}
	    <div class="col-lg-4 mb-4">
	      <a href="{% url 'products:info' product.id %}">
		<div class="row justify-content-center">
		  <div class="img-search-container">
		    <img class="img-thumbnail img-search" src="{{ product.image }}" />
		    {% include 'products/_nutribadge.html' %}
		  </div>
		</div>
		<div class="row justify-content-center">{{ product.name }}</div>
	      </a>
	      {% if request.user.is_authenticated %}
	      <div class="row justify-content-center align-items-center">
		<a href="#" class="save-link" onclick="saveProduct({{ orig_product.id }}, {{ product.id }})">
		  <i class="fas fa-fw fa-save"></i> Sauvegarder
		</a>
	      </div>
	      {% endif %}
	    </div>
	    {% endfor %}
	  </div>
	</div>
      </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
<!-- Cookies library, we only need it here-->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="{% static 'products/js/save-link.js' %}"></script>
{% endblock %}
